services:
  api:
    build:
      dockerfile: Dockerfile
      context: .
      target: ${BUILD_TARGET}
    volumes:
      - .:/src
      - /src/node_modules
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
      - '${DEBUG_PORT}:${DEBUG_PORT}'
    depends_on:
      - db
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - '${DB_PORT}:5432'
volumes:
  postgres_data:
